@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    --font-sans: 'Poppins', sans-serif;
    --font-heading: 'Yatra One', cursive;

     /* =========================
       FONT SIZES
    ========================= */
    --text-2xs: 0.5625rem;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.3125rem;
    --text-2xl: 1.375rem;
    --text-3xl: 1.5rem;
    --text-4xl: 1.75rem;
    --text-5xl: 2.25rem;
    --text-6xl: 2.375rem;
    --text-7xl: 3rem;
    --text-8xl: 3.1875rem;
    --text-9xl: 4rem;

     /* =========================
       SHADOWS
    ========================= */
    --shadow-box: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

     /* =========================
       COLORS
    ========================= */
    --color-primary: #9B2380;
    --color-onPrimary: #ffffff;

    --color-secondary: #FF6F1C;
    --color-OnSecondary: #181011;

    --color-tertiary: #EDE3E4;
    --color-onTertiary: #181011;

    --color-quaternary: #5B5750;
    --color-onQuaternary: #ffffff;

    --color-fifth: #492C1D;
    --color-onFifth: #ffffff;

    --color-surface: #ffffff;
    --color-onSurface1: #9B2380;
    --color-onSurface2: #5B5750;

    --color-text: #181011;
}

.dark{
    --color-primary: #FF6F1C;
    --color-onPrimary: #181011;

    --color-secondary: #9B2380;
    --color-OnSecondary: #ffffff;

    --color-tertiary: #EDE3E4;
    --color-onTertiary: #181011;

    --color-quaternary: #5B5750;
    --color-onQuaternary: #ffffff;

    --color-fifth: #492C1D;
    --color-onFifth: #ffffff;

    --color-surface: #181011;
    --color-onSurface1: #FF6F1C;
    --color-onSurface2: #EDE3E4;

    --color-text: #ffffff;

    --shadow-box: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
}

html {
    box-sizing: border-box;
    scrollbar-width: none;
}

* {
    scrollbar-width: none;
}

body {
    @apply font-sans antialiased text-text dark:text-text;
    @apply bg-surface dark:bg-surface;
    @apply container mx-4 my-2 lg:my-4 lg:mx-auto;
}

h1 {
    @apply font-heading text-6xl lg:text-7xl font-normal text-center;
}

h2 {
    @apply font-heading text-4xl lg:text-5xl font-normal text-center;
}

h3 {
    @apply font-heading text-2xl lg:text-3xl font-normal text-center;
}

h4 {
    @apply font-heading text-xl lg:text-lg font-normal text-center;
}

p {
    @apply text-base;
}

small {
    @apply text-xs lg:text-sm;
}

.breadcrumb {
    @apply text-2xs lg:text-xs;
}

button {
    @apply cursor-pointer;
    @apply font-heading text-3xl lg:text-2xl;
}

a{
    @apply cursor-pointer;
}

ul {
    @apply list-disc list-inside;
}

@utility container {
   margin-inline: auto;
}

/* h1 {
    @apply text-3xl font-bold;
}

body {
    @apply font-sans antialiased text-gray-900 dark:text-gray-100;
    @apply bg-white dark:bg-gray-950;
    padding-bottom: 5rem;
}



.cursor-pointer {
    user-select: none;
} */